$clr_svg_bg: #13181f;
$clr_link: #888;
$clr_title_fill: #fff;
$clr_title_stroke: #000;
$clr_font_default: #fff;

.force-graph {
  margin-top: 7vh;
  background: $clr_svg_bg;
  opacity: 0.95;
  box-shadow: 0 0 20px rgba(#000, 0.85);
  border-radius: 10px;
}

.link {
  stroke: $clr_link;
}

.title {
  text-anchor: middle;
  fill: $clr_title_fill;
  stroke: $clr_title_stroke;
  cursor: default;
  font-family: 'Roboto';
}

:global {
  html, body {
    height: 100%;
  }

  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background: black;
    background-image: url('~assets/images/globe.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'Roboto';
  }

  #app {
    text-align: center;
    flex-grow: 1;
    color: $clr_font_default;
  }
}
